body {
	padding: 0;
	margin: 0 auto;
	width: 1600px;
	}
/*.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.tac {text-align: center;}
.cg {color: #4c4c4c;}
.cw {color: #fff;}
.cy {color: #cc9900;}
.lr {font-family: "Lato-Regular";}
.ggb {font-family: "GentiumBookBasic";}
.yo {font-family: "YesevaOne"; font-weight: normal;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f21 {font-size: 21px;}
.f25 {font-size: 25px;}
.f36 {font-size: 36px;}
.f96 {font-size: 96px;}
div {
	box-sizing: border-box;
}*/
header {
	background: url(../img/HeaderBG.jpg) no-repeat center top;
	height: 1064px;
	width: 1600px;
}
.container {
	width: 1600px;
	margin: 0 auto;
}
.logo {
	margin-left: 204px;
	margin-top: 31px;
}
.sele {
	margin-left: 202px;
  margin-top: 25px;
}

.menu {
	float: right;
	padding: 0;
	margin: 0;
	display: block;
	margin-top: 20px;
	font-family: "Lato-Medium";
}

.menu li {
	float: left;
	display: block;
	margin-left: 20px;
}
.menu a {
	color: #fff;
	text-decoration: none;
}
.menu ul:last-child {
margin-right: 200px;
}
.menu li:not(:last-child) {
	margin-right: 50px;
}
h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: Myriad;
	font-size: 72px;
	padding-top: 278px;
	margin-bottom: 3px;
}
.p_header {
	text-align: center;
	color: #fff;
	font-family: Georgia;
	font-style: italic;
	font-size: 32px;
	margin: 0;
	line-height: 48px;
}
.button{
	background: 
	url(../img/LoginBG.png) no-repeat left top / cover,
	url(../img/RegisterBG.png) no-repeat top / cover;
	background-size: 810px 120px, 100% 120px;
	height: 120px;
	margin-top: 339px;
}
.button a {
	text-decoration: none;
	color: #fff;
	font-family: "Lato-Medium";
	text-transform: uppercase;
	font-size: 22px; 
	}
.login {
	float: left; 
	padding: 46px 259px 47px 470px;  
}
.register {
	float: right;
  padding: 45px 449px 48px 254px;
}
.domain_txt h3{
	text-align: center;
	font-size: 24px;
	font-family: "Lato-Heavy";
	padding-top: 61px;
}
.domain_txt p {
	font-size: 16px;
	text-align: center;
	font-family: "Montserrat-EL";
}
.domain_input {
  height: 48px;
  width: 887px;
  border: 1px solid #d9d9d9;
  margin: auto;
  margin-top: 47px; 
}
.p_input{
	float: left;
	color: #cbcbcb;
	font-family: "Lato-Regular";
	font-size: 15px;
	margin-left: 16px;
}
.stick{
	font-size: 35px;
	float: left;
	color: #cbcbcb;
	margin: 3px 0 3px 13px;
}
.input{
	padding: 7px 542px 8px 15px;
  margin: 7px 0px 7px 16px;
	color: #868686;
	font-family: "Lato-Regular";
	font-size: 15px;
	border: 1px solid #d9d9d9;
	border-top: none;
	border-bottom: none;
	outline: none;
}
.p_list {
	float: right;
	margin: 0;

}
.p_list select {
	color: #868686;
	font-family: "Lato-Regular";
	font-size: 15px;
	border: none;
	padding: 13px 9px 14px 0px;
  margin-right: 10px;
	outline: none;
}
.f  {
	display: flex;
}
.dom_flex{
	flex-direction: column;
	width: 888px;
	height: 194px;
	margin-left: 356px;
	margin-top: 39px;
	border: 1px solid #d9d9d9;
}
.dom_mid_flex1, .dom_mid_flex2 {
	height: 50%;
	flex-grow: 1;
}
.dom_mid_flex1 div, .dom_mid_flex2 div {
	
	justify-content: inherit;
  color: #d2d2d2;
  font-family: "Lato-Regular";
  font-size: 14px;
}
.flex1 {
	width: 122px;
  margin-left: 27px;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 40px;
  padding-left: 66px;
}
.flex2 {
	width: 130px;
  height: 13px;
  margin: 17px 0 0 5px;
  padding: 23px 0 38px 92px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.flex3 {
	width: 138px;
  margin-left: 6px;
  padding: 40px 0 0 71px;
  border-bottom: 1px solid #d9d9d9;
}
.flex4 {
	width: 118px;
  margin: 17px 0 6px 6px;
  padding: 23px 0 0 57px;
  border-left: 1px solid #d9d9d9;
}
.flex5 {
	width: 127px;
  margin: 7px 0 17px 32px;
  padding: 31px 0 0 61px;
  border-right: 1px solid #d9d9d9;
}
.flex6 {
	width: 124px;
  margin-left: 6px;
  padding: 37px 0 0 86px;
  border-top: 1px solid #d9d9d9;
}
.flex7 {
	width: 144px;
  height: 7px;
  margin: 7px 0 0 6px;
  padding: 30px 0 36px 77px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.flex8 {
	width: 126px;
  margin-left: 6px;
  padding: 38px 0 0 51px;
  border-top: 1px solid #d9d9d9;
}



/* {
	border: 1px solid red;
}*
/*</div>
			<div class="butt">
				<div class="butt1">
					<a href="#">book a table</a>
				</div>
				<div class="butt2">
					<a href="#">see the menu</a>
				</div> */
