@font-face {
font-family: "Lato-Medium"; 
src: url("Lato-Medium.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Myriad"; 
src: url("Myriad Pro Bold SemiExtended.ttf") format("truetype"); 
font-style: normal; 
font-weight: bold; 
} 
@font-face {
font-family: "Lato-Heavy"; 
src: url("Lato-Heavy.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Montserrat-EL"; 
src: url("Montserrat-ExtraLight.otf") format("opentype"); 
} 
@font-face {
font-family: "Lato-Regular"; 
src: url("Lato-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}